:root {
    --main: #06d6a0;

    --extra-white: #ffffff;
    --white: #f5fffa;
    --gray: #adb5bd;
    --mid-light-gray: #646468;
    --mid-gray: #28282A;
    --mid-white: #d8dadc;
    --mid-main: #E4ECE9;
    --dark-gray: #1a1a1b;
    --black: #000814;

    --text-color: var(--black);
    --page-color: var(--white);
    --navbar-color: var(--black);
    --border-color: var(--gray);
    --bordered-content-color: var(--mid-main);

    /*
    --text-color: var(--mid-white);
    --page-color: var(--dark-gray);
    --navbar-color: var(--black);
    --border-color: var(--mid-light-gray);
    --bordered-content-color: var(--mid-gray);
    */
}

.content-border {
    box-sizing: border-box;
    padding: 24px 0px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    
    background-color: var(--bordered-content-color);
}

.btn {
    font-family: system-ui;
    font-size: 18px;
    color: var(--black);

    background-color: var(--main);
    padding: 0.5em 1em;
    border-radius: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    
    transition: 200ms;
}

.btn:hover:enabled {
    background-color: var(--white);
    transform: translateY(-0.1em);
    /* lol it's so fun when it pops */
    border: 2px solid var(--main);
}

.restrict-bounce:hover:enabled {
    border: none;
    outline: 2px solid var(--main);
}

.btn:disabled {
    background-color: var(--gray);
    color: var(--white);
}

.slct {
    font-family: system-ui;
    font-size: 18px;
    color: var(--black);

    background-color: var(--extra-white);
    padding: 0.5em 1em;
    border-color: var(--gray);
    border-radius: 1em;
    outline: none;
    cursor: pointer;
    
    transition: 200ms;
}

.invisible-cover {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

body {
    margin: 0px;
    margin-bottom: 20px;
    background-color: var(--page-color);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--white);
    
    outline: 2px solid var(--gray);
}

::-webkit-scrollbar {
	width: 12px;
	background-color: var(--white);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--black);
}

html > * {
    font-family: system-ui;
    color: var(--text-color);
}

iframe {
    border: none;
}

.svg-btn-icon {
    width: 100%;
    height: 1em;
    fill: var(--black);
}

.text-color-fill {
    fill: var(--text-color);
}