.grid-display {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60vh;
}

.user-grid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.user-grid-section-grid-container {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
    flex: 1;
}

.prizenum-grid-section {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.square-perserve {
    aspect-ratio: 1 / 1;
}
