.grid-display {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60vh;
    padding: 0vh 10vw;
}

.user-grid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.user-grid-section-grid-container {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
    flex: 1;
}

.prizenum-grid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.prizenum-grid-section-grid-container {
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
    flex: 1;
}

.square-perserve {
    aspect-ratio: 1 / 1;
}

.grid-input-toolset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    gap: 5px;
}

.grid-input-advanced-toolset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.grid-proof-toolset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}