.grid-display {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60vh;
}

.user-grid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.prizenum-grid-section {
    display: flex;
    justify-content: center;
    margin: 30px;
}

