.nft-view {
    padding: 5vh 5vw;
}

.nft-view-display-area {
    display: flex;
    height: 20vh;
    padding: 12px 0px;
    gap: 24px;
    overflow: auto;
}

.nft-view-regular-element-container {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    
    aspect-ratio: 1 / 1;
}

.nft-view-button-menu {
    display: flex;
    padding-left: 12px;
    gap: 5px;
}

.nft-view-invisible-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}