.nft-view {
    padding: 5vh 5vw;
}

.nft-view-display-area {
    display: flex;
    height: 20vh;
}

.nft-view-regular-element-container {
    display: flex;
    cursor: pointer;
}

.nft-view-button-menu {
    display: flex;
    padding-left: 12px;
    gap: 5px;
}